html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
}

h1 {
  font-size: 1.5rem;

  article {
    font-style: italic
    color: #666;
  }
