html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  color: #222;
  line-height: 1.5;
  font-weight: normal;
}

h1 {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-style: italic;
}

nav ol {
  list-style-type: none;
}

nav ol li a {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  color: #8f2440;
  font-size: 1.19rem;
}

figcaption {
  font-style: italic;
  text-align: center;
}

.bold-paragraph {
  font-weight: bold;
  font-size: 1.2rem;
}

blockquote:nth-of-type(1) {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}

h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.6rem;
}

.greek-alphabet li {
  list-style-type: lower-greek;
}

ul li {
  list-style-type: circle;
}

a {
  text-decoration: none;
}

footer a {
  text-decoration: none;
  color: #8f2440;
}

dt {
  font-weight: bold;
  font-size: 1.2rem;
}

img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  text-decoration: none;
  color: #3f1622;
}
